<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/utils.css">

    <title>About - Tech Blog</title>
</head>

<body>

    <main>

        <div>
            <img id="hero-img" src="../images/blogHero.jpeg" alt="">
        </div>

        <div id="para">
            <h1>Tech Blog</h1>
            <h4>Discover. Learn. Innovate.</h4>
            <p>Welcome to our tech blog, where we embark on a journey through the digital cosmos. We're passionate about unraveling the intricacies of computer science, programming, and software development, and we're here to share our insights with you. Join us as we explore, learn, and innovate in the ever-evolving world of technology.</p>
        </div>
        
        <div class="footer container gap-17">

            <img src="../images/linkedin.png" alt="">
            <img src="../images/instagram.png" alt="">
            <img src="../images/linkedin.png" alt="">
        </div>

    </main>

</body>

</html>