<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/utils.css">
    <title>Contact - Tech Blog</title>
</head>

<body>

    <main class="container flex-column">

        <form class="container flex-column">
            <h2>Contact</h2>

            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea cols="30" rows="10" placeholder="Your Message Here"></textarea>
            <button type="submit">Submit</button>

            <div class="container line-container">
                <div class="line"></div>
                <h4>OR</h4>
                <div class="line"></div>
            </div>

            <div class="container" style="gap: 3em;">
                <a href="https://www.linkedin.com" target="_blank"><img src="../images/linkedin.png" alt=""></a>
                <a href="https://www.instagram.com" target="_blank"><img src="../images/instagram.png" alt=""></a>
            </div>
        </form>

    </main>

</body>

</html>