<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/utils.css">
    <link rel="stylesheet" href="../css/logIn.css">
    <title>Admin - Log In</title>
</head>

<body>

    <main class="container">
        <form id="log-in" class="container flex-column">
            <h2>Log In</h2>
            <input id="email" type="email" placeholder="Email" required>
            <input id="password" type="password" placeholder="Password" required>

            <button id="btn-log-in">Log In</button>
        </form>
    </main>

    <script src="../javascript/logIn.js"></script>
</body>

</html>